<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home | Spring MVC Forum</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>

<header>
  <div style="justify-self: end">
    <!-- If logged in, display Logout button-->
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
      <button type="submit">Logout</button>
    </form>
    <!-- If not logged in, display link to Login page -->
    <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
  </div>
</header>

<main>
  <section>
    <h1>Posts</h1>
  </section>

  <section th:object="${paginatedPosts}" class="results">
    <div id="actions" style="text-align: end">
      <a href="posts/new" th:class="btn">Write a post</a>
    </div>

    <div>
      <p>[[*{totalElements}]] total results</p>

      <!-- Tests -->
      <!--<form th:action="">-->
      <!--  <label> Results per page:-->
      <!--    <select>-->
      <!--      <option value="5">5</option>-->
      <!--      <option value="10">10</option>-->
      <!--      <option value="20">20</option>-->
      <!--    </select>-->
      <!--  </label>-->
      <!--</form>-->
    </div>

    <div th:each="post : ${paginatedPosts.content}" th:object="${post}" class="results-item">
      <h3 class="title">[[*{title}]]</h3>
      <p class="content">[[*{content}]]</p>
      <p class="details">by [[*{author.username}]], at [[*{#temporals.format(postedAt, 'HH:mm,
        MM/dd/YYYY')}]]</p>
      <!-- Display reactions -->
    </div>

    <div th:if="*{totalPages > 0}" class="pagination">
      <a th:class="${paginatedPosts.isFirst} ? hidden" th:href="@{/(page=${currentPage - 1})}"
         th:text="Prev"/>
      <a th:each="pageNbr: ${pageNumbers}" th:href="@{/(page=${pageNbr})}"
         th:class="${pageNbr == currentPage} ? active" th:text="${pageNbr}"/>
      <a th:class="${paginatedPosts.isLast()} ? hidden" th:href="@{/(page=${currentPage + 1})}"
         th:text="Next"/>
    </div>
  </section>
</main>

</body>
</html>