<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login | Spring MVC Forum</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

<section>
  <h1>Log in</h1>
</section>

<section>
  <form th:action="@{/login}" th:object="${user}" method="post" th:class="form">
    <fieldset>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" th:field="*{username}"/>
    </fieldset>

    <fieldset>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" th:field="*{password}"/>
    </fieldset>

    <p th:if="${param.error}" class="error">Wrong credentials</p>

    <fieldset>
      <button type="submit">Log in</button>
    </fieldset>

    <a href="/register" style="text-align: end">Create an account</a>
  </form>
</section>
</body>
</html>