*, html, body {
}


h1 {
    text-align: center;
    text-transform: uppercase;
}

input {
    width: 100%;
}

section {
    margin: 4rem;
}

form {
    width: 20rem;
    margin: auto;
    place-items: center;

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

.error {
    color: red;
    padding: 0;
}
